<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StandardOutPath</key>
      <string>/var/log/lifx.log</string>
    <key>StandardErrorPath</key>
      <string>/var/log/lifx.log</string>
    <key>KeepAlive</key>
      <true/>
    <key>Label</key>
      <string>com.umetaro.lifx.toggle</string>
    <key>ProgramArguments</key>
      <array>
        <string>/usr/local/bin/python</string>
        <string>/Users/#####<USER>#####/lifx/light_toggle.py</string>
      </array>
    <key>RunAtLoad</key>
      <true/>
    <key>StartInterval</key>
      <integer>1200</integer>
  </dict>
</plist>
